{% extends 'base.html' %}

{% block title %} Test Mapping Display {% endblock %}

{% block head %}
<style>
    table{
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;       
    }
    table, td{
        border: 1px solid black;
        text-align: center;
    }
    table th{
        padding: 3px;
        
    }
    td:hover{
        font-weight: 900;
    }
    tr:nth-child(even) {
        background-color: #FFCCCB;
    }
    tr:nth-child(odd) {
        background-color: #ADD8E6;
    }
</style>

{% endblock %}

{% block content %}

<div class="container">
    <h1>Test Mapping</h1>
    {% if sett[0] >= 1%}
    <h1>Test-1</h1>
    <table>
        <tr>
            <th><strong>Question</strong></th>
            <th><strong>CO Mapped</strong></th>
            <th><strong>Maximum Marks</strong></th>
        </tr>
        {% for i in range(15) %}
        <tr>
            <td>{{lques[i]}}</td>
            <td>{{l1co[i]}}</td>
            <td>{{l1m[i]}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <hr>

    {% if sett[0] >= 2 %}
    <h1>Test-2</h1>
    <table>
        <tr>
            <th><strong>Question</strong></th>
            <th><strong>CO Mapped</strong></th>
            <th><strong>Maximum Marks</strong></th>
        </tr>
        {% for i in range(15) %}
        <tr>
            <td>{{lques[i]}}</td>
            <td>{{l2co[i]}}</td>
            <td>{{l2m[i]}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <hr>

    {% if sett[0] == 3 %}
    <h1>Test-3</h1>
    <table>
        <tr>
            <th><strong>Question</strong></th>
            <th><strong>CO Mapped</strong></th>
            <th><strong>Maximum Marks</strong></th>
        </tr>
        {% for i in range(15) %}
        <tr>
            <td>{{lques[i]}}</td>
            <td>{{l3co[i]}}</td>
            <td>{{l3m[i]}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}


